{% extends 'layouts/layout.html' %}
<!--
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to
  describe what people can do if an error comes up, etc...

-->
{% block head %}
    {{ super() }}
    <meta charset="utf-8" />
    <title>Eye Tracking Experiment - Informed Consent Form</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="icon" href="/static/favicon.ico" />
    <script type="text/javascript">
        function onexit() {
          self.close(); // no harm, no foul here
        }
    </script>
		<style>
			@media print {
				body * {
					visibility: hidden;
				}
				.legal, .legal * {
					visibility: visible;
				}
				.legal {
					position: absolute;
					left: 0;
					top: 0;
					overflow:visible;
				}
			}
		</style>
    {% endblock %}
{% block body %}
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed</h1>
                <hr />
                <div class="legal well">
                    <p>
                    You have been invited to take part in a research study named Low Cost Eye-Tracking corpus for explainable Natural language processing.
                    </p>
                    <p>This experiment uses your camera for eye tracking. In order to participate, <b>you must allow the experiment to use your camera while on your desktop/laptop</b>. You can't perform this task on Mobile devices.
                    <p><b>If you accept this HIT while on mobile, we will reject the HIT (you will not be able to complete the task).</b></p>
                    <p>We are <b>only collecting the information about where you look on your screen, no video is recorded.</b> If you do not want to permit the experiment to use your camera, please decline the HIT so another worker can take the HIT.</p>
                    <p><b>There are conditions for your HIT to be approved:</b></p>
                    <ul>
                      <li><b>You are fluent in Turkish</b> - you can read and understand texts about general knowledge topics;</li>
                      <li>You <b>need to at least answer correctly to 50% of the questions asked</b>;</li>
                      <li>When the eye-tracking software starts, your browser will be set in Fullscreen. <b>You will need to keep the browser window in Fullscreen and in focus until you complete this experiment</b>;</li>
                      <li><b>Your screen needs to have a resolution of at least 1280x720 or higher</b>. This is checked when the Eye-Tracking software is initialized, and will stop you from completing the experiment if your screen is not of that size. Note, we have experienced that some users will have screens of a higher resolution but the browser doesn't report it correctly. If this is the case, you will also not be able to complete the experiment.</li>
                      <li><b>This HIT takes about 20-30 minutes to complete, including small pauses during the experiment.</b> If you have less than this on your timer, please release the HIT as you risk not being able to complete the task. We cannot compensate you if the timer runs out and you haven't completed the task.</li>
                    </ul>
                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr />
                <h4>Do you understand and consent to these terms?</h4>
                <br />

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
{% endblock %}
